body{
    background-color: rgb(219, 219, 219);
}

.menu {
  padding: 20px;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.127);
}
.menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffffc3;
}

.dropdown-menu {
  background-color: #ffffff;
}

.menu a {
  color: black;
}
.head-nav{
    padding: 20px;
}

.d-flex h1{
    font-size: 70px;
    font-weight: bold;
    color: black;
}
.layout p{
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }
.container{
    padding: 20px;
}
.unescotoba{
    width: 600px;
    margin-top: 10px;
    border: 1px solid black;
}
.cta {
  border: none;
  padding-left: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.122);
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.col-sm h5{
  font-weight: 700;
}
