
* {
  box-sizing: border-box;
}
body{
  font-family:sans-serif;
  background-color: gray;
  color: aliceblue;
}
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
}
.right p{
  text-align: left;
}
.left p{
  text-align: right;
}
.bg1{
  text-align: center;
  width: auto;
}
.p-2 img{
  width: 100%;
  height: auto;
  filter: brightness(50%);
}
.img-fluid img{
  width: 1400px;
  height: 800px;
  filter: brightness(40%);
  position: relative; 
}
.highlight{
  font-size: 30px;
  border-top: 10px solid black;
  padding: 30px;
}
.highlight h2{
  font-weight: bolder;
}
h1 {
  width: 450px;
  height: 250px;
  padding: 20px;
  border-right: 8px solid black;
}
.flex-column{
  position: relative;
  text-align: center;
  color: white;
}
.flex-item-left {
  padding: 10px;
  flex: 50%;
}
.flex-item-right {
  padding: 10px;
  flex: 50%;
}
img.sa{
  width: 100%;
  height: 20px;
  height: auto;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.flex-container img{
  border-radius: 30px;
  border: 10px double gold;
}

.menu{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.127);
  background-image: url("./assets/bg1.jpg");
  background-size: cover;
  padding-bottom: 500px;
  background-repeat:no-repeat ;  
}
.menu {
  
  top: 0;
  z-index: 1000;
  background-color: #ffffffc3; 
}

.dropdown-menu {
  background-color: #ffffff56;
}

.menu a{
  color: black;
}


.jdla {
  position: absolute;
  top: 25%;
  font-weight: bolder;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
}

.jdlb {
  position: absolute;
  top: 35%;
  color: white;
  font-weight: bolder;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
}

.jdlc {
  position: absolute;
  top: 60%;
  color: white;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.784);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  font-size: 1.4vw;
}

@media (max-width: 768px) {
  .jdla {
    font-size: 6vw;
  }

  .jdlb {
    font-size: 3.5vw
  }
}

#judul{
  font-weight: 1000;
  border-bottom: 1px solid black;
}

#hligh{
  font-weight: 700;
  padding: 20px;
  border-bottom: 10px double black;
}
p{
  letter-spacing: -1px; 
}
.judul_tempat{
  font-weight: 700;
  padding: 20px;
  font-family:sans-serif;
  word-spacing: 2px;
}