body{
    background-image: url("/assets/bg2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: rgb(219, 219, 219);
    padding-top: 50px;
}

#judul{
    font-weight: 700;
}